@*@model ToDo.Models.Todo* pega só um item do banco de dados*@

@model List<ToDo.Models.Todo>

@*falando qual controller será utilizado*@
@*model para informar o tipo do dado*@
@*Model para acesso de dados*@

<h1>Lista de Tarefas</h1>

@if(Model.Count > 0)
{
    <div class="row">
        @foreach (var todo in Model)
        {
            <div class="col-12 col-sm-6 col-md-5 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@todo.Titulo</h5>
                        <p class="card-text">
                            <div class="d-flex flex-column flex-sm-row">
                                <span class="mr-3 mb-1 mb-sm-0">Criado em: @todo.CriadoEm</span>
                                <span class="custom-spacing">Prazo: @todo.Prazo</span>
                            </div>
                        </p>
                        <p class="card-text">
                            @(todo.FinalizadoEm.HasValue ? "Tarefa finalizada em: " + todo.FinalizadoEm : "Tarefa não finalizada")
                        </p>
                        <div class="d-flex justify-content-start">
                            <a asp-controller="Todo" asp-action="Finish" asp-route-id="@todo.Id" class="btn btn-success btn-sm btn-spacing @(todo.FinalizadoEm.HasValue ? "disabled":"")">Concluir</a>
                            <a asp-controller="Todo" asp-action="Edit" asp-route-id="@todo.Id" class="btn btn-warning btn-sm btn-spacing @(todo.FinalizadoEm.HasValue ? "disabled":"")">Editar</a>
                            <a asp-controller="Todo" asp-action="Delete" asp-route-id ="@todo.Id" class="btn btn-danger btn-sm btn-spacing">Excluir</a>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Sem tarefas!!</p>
}



<abbr title="Criar Tarefa">
   <a asp-controller="Todo" asp-action="Create" class="btn btn-primary">Criar Tarefa</a>
</abbr>







